In [3]:
import pandas as pd 
import numpy as np

In [3]:
g7 = pd.Series([35.46,63.95,80.94,60.66,127.06,64.51,318.52])

In [5]:
g7.name = 'G7 Population in millions'

In [6]:
g7

0     35.46
1     63.95
2     80.94
3     60.66
4    127.06
5     64.51
6    318.52
Name: G7 Population in millions, dtype: float64

In [8]:
g7.dtype

dtype('float64')

In [9]:
g7.values

array([ 35.46,  63.95,  80.94,  60.66, 127.06,  64.51, 318.52])

In [12]:
type(g7.values)

numpy.ndarray

In [13]:
g7.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
]

In [14]:
g7

Canada             35.46
France             63.95
Germany            80.94
Italy              60.66
Japan             127.06
United Kingdom     64.51
United States     318.52
Name: G7 Population in millions, dtype: float64

# Indexing

In [15]:
g7['Canada']

35.46

In [17]:
g7.iloc[0]

35.46

In [18]:
g7[['Italy','France']]

Italy     60.66
France    63.95
Name: G7 Population in millions, dtype: float64

In [20]:
g7['Canada':'Italy']

Canada     35.46
France     63.95
Germany    80.94
Italy      60.66
Name: G7 Population in millions, dtype: float64

# Boolean arrays

In [21]:
g7 > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [22]:
g7[g7 > 70]

Germany           80.94
Japan            127.06
United States    318.52
Name: G7 Population in millions, dtype: float64

In [23]:
g7.mean()

107.29999999999998

In [24]:
g7[g7 > g7.mean()]

Japan            127.06
United States    318.52
Name: G7 Population in millions, dtype: float64

In [33]:
g7.std()

97.25025912561878

In [34]:
g7[(g7 > 80) & (g7 <200)]

Germany     80.94
Japan      127.06
Name: G7 Population in millions, dtype: float64

# Operations and Methods

In [29]:
np.log(g7)

Canada            3.568405
France            4.158102
Germany           4.393708
Italy             4.105285
Japan             4.844659
United Kingdom    4.166820
United States     5.763685
Name: G7 Population in millions, dtype: float64

In [30]:
g7['France':'Italy'].mean()

68.51666666666667

In [32]:
g7 + 1

Canada             36.46
France             64.95
Germany            81.94
Italy              61.66
Japan             128.06
United Kingdom     65.51
United States     319.52
Name: G7 Population in millions, dtype: float64

# Modifying Series

In [35]:
g7['Canada'] = 36.50

In [36]:
g7

Canada             36.50
France             63.95
Germany            80.94
Italy              60.66
Japan             127.06
United Kingdom     64.51
United States     318.52
Name: G7 Population in millions, dtype: float64

In [37]:
g7.iloc[-1] = 318.60

In [38]:
g7

Canada             36.50
France             63.95
Germany            80.94
Italy              60.66
Japan             127.06
United Kingdom     64.51
United States     318.60
Name: G7 Population in millions, dtype: float64

# DataFrames

In [4]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [1785387,2833687,3874437,2167744,4602367,2950039, 17348075],
    'Surface Area': [9984670, 640679,357114,301336,377930,242495,9525067],
    'HDI': [0.913,0.888,0.916,0.873,0.891,0.907,0.915],
    'Continent': ['America','Europe','Europe','Europe','Asia','Europe','America']
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [5]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [8]:
df.index = ['Canada','France','Germany','Italy','Japan','United Kingdom','United States']

In [9]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [10]:
df.size

35

In [12]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [14]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [15]:
df.shape

(7, 5)

In [16]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [18]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [19]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

# Indexing and Slicing

In [21]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [22]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [25]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [26]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [29]:
df['Population'].index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [30]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [32]:
df[['Population','GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [33]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [34]:
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [35]:
df.loc['France':'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [36]:
df.loc['France':'Italy','Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [38]:
df.loc['France':'Italy',['Population','GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [40]:
df.iloc[1].to_frame()

               France
Population     63.951
GDP           2833687
Surface Area   640679
HDI             0.888
Continent      Europe

In [43]:
df.iloc[[0,1,-1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [44]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [46]:
df.iloc[1:3,3].to_frame()

           HDI
France   0.888
Germany  0.916

In [48]:
df.iloc[1:3,[0,3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [49]:
df.iloc[1:3,1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

# Boolean arrays

In [50]:
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [51]:
df[df['Population']> 70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [53]:
df.loc[df['Population']> 70,'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [54]:
df.loc[df['Population']> 70,['Population','GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

# Dropping stuff

In [55]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [56]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [57]:
df.drop(['Canada','Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [58]:
df.drop(columns=['Population','HDI'])

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [59]:
df.drop(['Italy','Canada'],axis=0)

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [61]:
df.drop(['Population','HDI'],axis=1)

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [62]:
df.drop(['Population','HDI'],axis='columns')

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

# Operations

In [63]:
df[['Population','HDI']]

                Population    HDI
Canada              35.467  0.913
France              63.951  0.888
Germany             80.940  0.916
Italy               60.665  0.873
Japan              127.061  0.891
United Kingdom      64.511  0.907
United States      318.523  0.915

In [64]:
df[['Population','HDI']] / 100

                Population      HDI
Canada             0.35467  0.00913
France             0.63951  0.00888
Germany            0.80940  0.00916
Italy              0.60665  0.00873
Japan              1.27061  0.00891
United Kingdom     0.64511  0.00907
United States      3.18523  0.00915

In [66]:
crisis = pd.Series([-1000000,-0.3], index = ['GDP','HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [67]:
df[['GDP','HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

# Modifying DataFrames

In [68]:
Lang = pd.Series(
['French','German','Italian','English'],
index = ['France','Germany','Italy','United Kingdom'],
name= 'Language'
)

In [69]:
Lang

France             French
Germany            German
Italy             Italian
United Kingdom    English
Name: Language, dtype: object

In [70]:
df['Language'] = Lang

In [71]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America      NaN

In [72]:
df.rename(
 columns ={
     'HDI': 'Human Development Index',
     'APC': 'Anual Popcorn Consumption'
 }, 
    index = {
        'United Kingdom':'UK',
        'United States':'USA',
        'Argentina':'AR'
    }
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,NaN
France,63.951,2833687,640679,0.888,Europe,French
Germany,80.940,3874437,357114,0.916,Europe,German
Italy,60.665,2167744,301336,0.873,Europe,Italian
Japan,127.061,4602367,377930,0.891,Asia,NaN
UK,64.511,2950039,242495,0.907,Europe,English
USA,318.523,17348075,9525067,0.915,America,NaN

In [77]:
df.rename(index = str.upper)

                Population       GDP  Surface Area    HDI Continent Language
CANADA              35.467   1785387       9984670  0.913   America      NaN
FRANCE              63.951   2833687        640679  0.888    Europe   French
GERMANY             80.940   3874437        357114  0.916    Europe   German
ITALY               60.665   2167744        301336  0.873    Europe  Italian
JAPAN              127.061   4602367        377930  0.891      Asia      NaN
UNITED KINGDOM      64.511   2950039        242495  0.907    Europe  English
UNITED STATES      318.523  17348075       9525067  0.915   America      NaN

In [74]:
df.rename(index=lambda x:x.lower())

                Population       GDP  Surface Area    HDI Continent Language
canada              35.467   1785387       9984670  0.913   America      NaN
france              63.951   2833687        640679  0.888    Europe   French
germany             80.940   3874437        357114  0.916    Europe   German
italy               60.665   2167744        301336  0.873    Europe  Italian
japan              127.061   4602367        377930  0.891      Asia      NaN
united kingdom      64.511   2950039        242495  0.907    Europe  English
united states      318.523  17348075       9525067  0.915   America      NaN

In [78]:
df.drop(columns = 'Language',inplace=True)

In [79]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [83]:
df.append(pd.Series({
    'Population' : 3,
    'GDP': 5
},
name = 'China'))

/var/folders/pb/2k4k1zcx3j56h81v93qgk9300000gn/T/ipykernel_55566/3683633878.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(pd.Series({

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387     9984670.0  0.913   America
France              63.951   2833687      640679.0  0.888    Europe
Germany             80.940   3874437      357114.0  0.916    Europe
Italy               60.665   2167744      301336.0  0.873    Europe
Japan              127.061   4602367      377930.0  0.891      Asia
United Kingdom      64.511   2950039      242495.0  0.907    Europe
United States      318.523  17348075     9525067.0  0.915   America
China                3.000         5           NaN    NaN       NaN

In [84]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [85]:
df.loc['China'] = pd.Series({'Population':1_400_000_000, 'Continent':'Asia'})

In [86]:
df

                  Population         GDP  Surface Area    HDI Continent
Canada          3.546700e+01   1785387.0     9984670.0  0.913   America
France          6.395100e+01   2833687.0      640679.0  0.888    Europe
Germany         8.094000e+01   3874437.0      357114.0  0.916    Europe
Italy           6.066500e+01   2167744.0      301336.0  0.873    Europe
Japan           1.270610e+02   4602367.0      377930.0  0.891      Asia
United Kingdom  6.451100e+01   2950039.0      242495.0  0.907    Europe
United States   3.185230e+02  17348075.0     9525067.0  0.915   America
China           1.400000e+09         NaN           NaN    NaN      Asia

In [87]:
df.drop('China', inplace = True)

In [88]:
df

                Population         GDP  Surface Area    HDI Continent
Canada              35.467   1785387.0     9984670.0  0.913   America
France              63.951   2833687.0      640679.0  0.888    Europe
Germany             80.940   3874437.0      357114.0  0.916    Europe
Italy               60.665   2167744.0      301336.0  0.873    Europe
Japan              127.061   4602367.0      377930.0  0.891      Asia
United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
United States      318.523  17348075.0     9525067.0  0.915   America

In [89]:
df.reset_index()

            index  Population         GDP  Surface Area    HDI Continent
0          Canada      35.467   1785387.0     9984670.0  0.913   America
1          France      63.951   2833687.0      640679.0  0.888    Europe
2         Germany      80.940   3874437.0      357114.0  0.916    Europe
3           Italy      60.665   2167744.0      301336.0  0.873    Europe
4           Japan     127.061   4602367.0      377930.0  0.891      Asia
5  United Kingdom      64.511   2950039.0      242495.0  0.907    Europe
6   United States     318.523  17348075.0     9525067.0  0.915   America

In [90]:
df.set_index('Population')

                   GDP  Surface Area    HDI Continent
Population
35.467       1785387.0     9984670.0  0.913   America
63.951       2833687.0      640679.0  0.888    Europe
80.940       3874437.0      357114.0  0.916    Europe
60.665       2167744.0      301336.0  0.873    Europe
127.061      4602367.0      377930.0  0.891      Asia
64.511       2950039.0      242495.0  0.907    Europe
318.523     17348075.0     9525067.0  0.915   America

In [91]:
df[['Population','GDP']]

                Population         GDP
Canada              35.467   1785387.0
France              63.951   2833687.0
Germany             80.940   3874437.0
Italy               60.665   2167744.0
Japan              127.061   4602367.0
United Kingdom      64.511   2950039.0
United States      318.523  17348075.0

In [92]:
df['GDP'] / df['Population']

Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
dtype: float64

In [93]:
df['GDP per Captia'] = df['GDP'] / df['Population']

In [94]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP per Captia
Canada,35.467,1785387.0,9984670.0,0.913,America,50339.385908
France,63.951,2833687.0,640679.0,0.888,Europe,44310.284437
Germany,80.940,3874437.0,357114.0,0.916,Europe,47868.013343
Italy,60.665,2167744.0,301336.0,0.873,Europe,35733.025633
Japan,127.061,4602367.0,377930.0,0.891,Asia,36221.712406
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,45729.239975
United States,318.523,17348075.0,9525067.0,0.915,America,54464.120330

# Statistical Info

In [95]:
df.head()

         Population        GDP  Surface Area    HDI Continent  GDP per Captia
Canada       35.467  1785387.0     9984670.0  0.913   America    50339.385908
France       63.951  2833687.0      640679.0  0.888    Europe    44310.284437
Germany      80.940  3874437.0      357114.0  0.916    Europe    47868.013343
Italy        60.665  2167744.0      301336.0  0.873    Europe    35733.025633
Japan       127.061  4602367.0      377930.0  0.891      Asia    36221.712406

In [96]:
df.describe()

       Population           GDP  Surface Area       HDI  GDP per Captia
count    7.000000  7.000000e+00  7.000000e+00  7.000000        7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429    44952.254576
std     97.249970  5.494020e+06  4.576187e+06  0.016592     6954.983875
min     35.467000  1.785387e+06  2.424950e+05  0.873000    35733.025633
25%     62.308000  2.500716e+06  3.292250e+05  0.889500    40265.998421
50%     64.511000  2.950039e+06  3.779300e+05  0.907000    45729.239975
75%    104.000500  4.238402e+06  5.082873e+06  0.914000    49103.699626
max    318.523000  1.734808e+07  9.984670e+06  0.916000    54464.120330

In [97]:
population = df['Population']

In [98]:
population.min() , population.max()

(35.467, 318.523)

In [99]:
population.sum()

751.118

In [100]:
population.sum() / len(population)

107.30257142857144

In [102]:
population.mean()

107.30257142857144

In [103]:
population.std()

97.24996987121581

In [104]:
population.median()

64.511

In [105]:
population.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [106]:
population.quantile(.25)

62.308

In [107]:
population.quantile([.2,.4,.6,.8,1])

0.2     61.3222
0.4     64.1750
0.6     74.3684
0.8    117.8368
1.0    318.5230
Name: Population, dtype: float64